@model List<ResultAboutDto>
 @foreach (var item in Model)
                {
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="@item.ImageUrl">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">@item.Title</h1>
                <p class="mb-4">@item.Description</p>
                <p><i class="fa fa-check text-primary me-3"></i>Doğal ve Katkısız Ürünler</p>
                <p><i class="fa fa-check text-primary me-3"></i>Doğadan Sofranıza Organik Lezzetler</p>
                <p><i class="fa fa-check text-primary me-3"></i>Vitamin ve Mineral Bakımından Zengin Ürünler</p>
                    <a asp-controller="About" asp-action="AboutReadAll" asp-route-id="@item.AboutID" class="btn btn-primary">Devamını Oku...</a>
               
            </div>
        </div>
    </div>
</div>
}